*{
	margin:0;
	padding: 0;

}
#bg{
	background: url(../image/background.jpg) no-repeat;
	background-size: 100%;
	height: 100%;

}
.list{
	background-color: rgb( 237, 120, 93 );
	left: 0px;
	top: 0px;
	width: 100%;
	height: 562px;
	z-index: 113;
}
.charts {
	width: 50%;
	font-size: 192.653px;
	font-family: "ProductSans";
	color: rgb( 212, 63, 27 );
	font-weight: bold;
	line-height: 1.229;
	z-index: 115;
	text-align: center;
}
.rank {
	float: left;
	font-size: 198.653px;
	font-weight: initial;
	font-family: "Microsoft YaHei";
	color: rgb( 251, 251, 251 );
	line-height: 1.229;
	-moz-transform: matrix( 0.79370404897576,0,0,0.79370404897576,0,0);
	-webkit-transform: matrix( 0.79370404897576,0,0,0.79370404897576,0,0);
	-ms-transform: matrix( 0.79370404897576,0,0,0.79370404897576,0,0);
	z-index: 116;
	Opacity:50;
	margin-top:-146px;
}
.xy{
	width: 76%;
	margin:0 auto;
/*	margin-top:27%;
*/}
.voted_classes{
	width: 23px;
}
.voted_class{
	margin-right:30px;
	font-size: 30px;
	text-align: center;
}
.offer{
	width: 100%;
	/*margin: 0 auto;*/
	margin-top:33px;
	text-align: center;
    color: rgb( 212, 63, 27 );
	font-size: 30px;
}
.votespan {
	width: 50%;
	float:right;
	font-size: 192.653px;
	font-family: "ProductSans";
	color: rgb( 212, 63, 27 );
	font-weight: bold;
	line-height: 1.229;
	z-index: 115;
	text-align: center;
}
.classrank {
	float: right;
	font-size: 169.653px;
	font-weight: initial;
	font-family: "Microsoft YaHei";
	color: rgb( 251, 251, 251 );
	line-height: 1.229;
	-moz-transform: matrix( 0.79370404897576,0,0,0.79370404897576,0,0);
	-webkit-transform: matrix( 0.79370404897576,0,0,0.79370404897576,0,0);
	-ms-transform: matrix( 0.79370404897576,0,0,0.79370404897576,0,0);
	z-index: 116;
	Opacity:50;
	margin-top:-120px;
	margin-right: 5%;
}
#classes{
	clear: both;
	width: 100%;
	height: 637px;
	margin:450px auto;
}
.class{
	float: left;
	width: 17.5%;
	height: 315px;
	background:white;
	border-radius: 6%;
	margin-right:0.6%;
	margin-top:7px;
}
#class1,#class6{
	margin-left: 5%;
}
.pic{
	width:96%;
	margin: 3px auto;
	height:  260px;
	background: black;
	overflow: hidden;
	cursor: pointer;
	border-radius: 5%;
}
.pic:hover img{
    -webkit-transform:scale(1.5,1.5);
    -moz-transform:scale(1.5,1.5);
    -transform:scale(1.5,1.5);
     transition:all 0.5s; 
 }
.num{
	width: 100%;
	text-align: center;
	font-size: 37px;
	font-weight: bolder;
	color: rgb( 212, 63, 27 );
}
.rule{
	width: 76%;
	height: 505px;
	margin:0px auto;
	font-size: 25px;
	line-height: 45px;
	padding-top:100px;
}
.section{
	height: 800px;
}
.footer{
	width: 100%;
	text-align: center;
	color: rgb( 212, 63, 27 );
	font-size: 25px;
	margin-bottom: 25px;
}
#hide{
 	width: 70%;
 	height: 500px;
 	margin: 0 auto;
 	position: absolute;
	z-index: -1;
	background-color: red;
 }
