<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>快乐班级</title>
	<!-- <link rel="stylesheet" href="__PUBLIC__css/jquery.fullPage.css"> -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index1.css">
	<!-- // <script type="text/javascript" src="__PUBLIC__/js/index.js"></script> -->
	<!-- // <script type="text/javascript" src="__PUBLIC__/danmu/dist/js/danmuplayer.min.js"></script> -->
	<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/danmu/dist/css/danmuplayer.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery-ui-1.10.4.custom.min.css"> -->
	<!-- // <script type="text/javascript" src="__PUBLIC__/js/jquery-ui-1.10.4.custom.min.js"></script> -->
</head>
<body>
	<div class="banner">
		<div class="list"></div>
		<div class="charts"><span>charts</span>
		<span class="rank">排行榜</span></div>
	</div>
	<div class="vote">
		<div class="xy">
			<img src="__PUBLIC__/image/vote.jpg" alt="">
			<div class="voted_classes">
				<div class="voted_class">15软件2班</div>
				<!-- <div class="voted_class">15软件2班</div>
				<div class="voted_class">15软件2班</div>
				<div class="voted_class">15软件2班</div>
				<div class="voted_class">15软件2班</div>
				<div class="voted_class">15软件2班</div>
				<div class="voted_class">15软件2班</div>
				<div class="voted_class">15软件2班</div>
				<div class="voted_class">15软件2班</div>
				<div class="voted_class">15软件2班</div> -->
			</div>
		</div>
		<div class="offer">*投票数据由星空学生创新中心统计</div>
	</div>
	<div class="vote">
		<div class="votespan"><span>vote</span></div>
		<span class="classrank">班级投票</span>
		<div id="classes">
			<div id="class1" class="class">
                <!-- <div class="pic"><img  id="cover1" style="width:160px;height:200px;"></div> -->
		    	<!-- <div id="dialog-form" title="" style="display:none;">        -->
		    </div>
		    <div id="class2" class="class">
                <!-- <div class="pic"><img  id="cover1" style="width:160px;height:200px;"></div> -->
		    	<!-- <div id="dialog-form" title="" style="display:none;">        -->
		    </div>
		    <div id="class3" class="class">
                <!-- <div class="pic"><img  id="cover1" style="width:160px;height:200px;"></div> -->
		    	<!-- <div id="dialog-form" title="" style="display:none;">        -->
		    </div>
		    <div id="class4" class="class">
                <!-- <div class="pic"><img  id="cover1" style="width:160px;height:200px;"></div> -->
		    	<!-- <div id="dialog-form" title="" style="display:none;">        -->
		    </div>
		    <div id="class5" class="class">
                <!-- <div class="pic"><img  id="cover1" style="width:160px;height:200px;"></div> -->
		    	<!-- <div id="dialog-form" title="" style="display:none;">        -->
		    </div>
		    <div id="class6" class="class">
                <!-- <div class="pic"><img  id="cover1" style="width:160px;height:200px;"></div> -->
		    	<!-- <div id="dialog-form" title="" style="display:none;">        -->
		    </div>
		    <div id="class7" class="class">
                <!-- <div class="pic"><img  id="cover1" style="width:160px;height:200px;"></div> -->
		    	<!-- <div id="dialog-form" title="" style="display:none;">        -->
		    </div>
		    <div id="class8" class="class">
                <!-- <div class="pic"><img  id="cover1" style="width:160px;height:200px;"></div> -->
		    	<!-- <div id="dialog-form" title="" style="display:none;">        -->
		    </div>
		    <div id="class9" class="class">
                <!-- <div class="pic"><img  id="cover1" style="width:160px;height:200px;"></div> -->
		    	<!-- <div id="dialog-form" title="" style="display:none;">        -->
		    </div>
		    <div id="class10" class="class">
                <!-- <div class="pic"><img  id="cover1" style="width:160px;height:200px;"></div> -->
		    	<!-- <div id="dialog-form" title="" style="display:none;">        -->
		    </div>
		</div>
	</div>
</body>
</html>